@model Selit24_webapp.Models.Login

@{
    Layout = "~/Views/Shared/_Authorization.cshtml";
}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Login Container -------------------------->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="~/images/1.png" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Dive into a World of Pre-Loved Finds!</small>
        </div>

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Forget Password</h2>
                    <p>Enter OTP. </p>
                </div>
                <form asp-action="TestOTP">
                    <div class="input-group mb-3">
                        <input type="text" asp-for="OTP" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                    </div>
                    <span asp-validation-for="OTP" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Submit</button>
                    </div>
                </form>
                <div class="row">
                    <small>Back to <a href="@Url.Action("Login")">Login</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
